#
# ESP32P4-specific
# Pinout based on Waveshare ESP32-P4-Module-DEV-KIT and MMECH06
#

CONFIG_MM_RESET_N=24
CONFIG_MM_WAKE=23
CONFIG_MM_BUSY=32
CONFIG_MM_SPI_SCK=0
CONFIG_MM_SPI_MOSI=3
CONFIG_MM_SPI_MISO=2
CONFIG_MM_SPI_CS=36
CONFIG_MM_SPI_IRQ=1
CONFIG_MM_BCF_FILE="bcf_mf08651_us.mbin"
